{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
<div class="mainContainer">
    <div class="newComment">
        <h1>Create new Comment</h1>

        {{ include('comment/_form.html.twig') }}

        <a class="button back" href="{{ path('comment_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
