{% extends "base.html.twig" %}
{% block title %} {{ website ~ ' | affinez votre recherche'  }} {% endblock %}
{% block content %}
<div class="container mt-5 pt-5">
    {% include "search/_form_flight_historical.html.twig" %}
</div>

{% endblock %}