@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html{
    background-color: HSL( 217, 12%, 16%);
}

body {
    background-color: HSL(212,100%,14%,0.1);
    font-size: 14px;
    min-height: 100vw;
    margin: 5px;
}
h1, h2 {
    font-family: 'Abril Fatface', cursive;
    color: HSL(212,100%,14%);

}
.main.title  {
    font-family: 'Abril Fatface', cursive;
    color: HSL(212,100%,14%);
    padding-left: 5px;
}
p {
    font-family: 'open-sans';
    color: HSL(212,100%,14%,0.9);
    margin: 0;

}
a {
    text-decoration: none;
}
.button {
    background-color: #ffffff;
    font-family: "open sans", sans-serif;
    min-width: 62px;
    
}
.go {
    border: solid 1px HSL(212,100%,14%);
    border-radius: 8px;
    color: HSL(212,100%,14%);
}
// Css for NavBar
.global_nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    align-items: center;
    background-color: #ffffff;    
}
.mainMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;

}
.mainMenu a  {
    text-decoration: none;
}
//CSS for landingPage
.img-container {
    max-width: 100%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(0px auto);
}
.mainImage {
    max-width: calc(100% - 5px);
    min-width: 100%;
    border-radius: 8px;
    grid-column: 1 / 3;
    grid-row: 1;   
    
}
.indexTitle  {
    grid-column: 2/3;
    text-align: center;
    grid-row: 1;
    max-height: 150px;
    font-family: 'Abril Fatface', cursive;
    color: HSL(212,100%,14%);
    padding-right: 5px;
    text-decoration: none;
}
.indexTitle:hover {
    color: HSL(212, 100%, 14%, 0.5);
}


.mainContainer {
    display: grid;
    grid-template-areas:
    "left-sidebar main right-sidebar";
    grid-template-columns: minmax(180px,5fr) minmax(0,12fr) minmax(100px,7fr);
    grid-gap: 5px;
    min-height: 100vw;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
     
}
.item {
    display: flex;
    background-color: #ffffff;
    max-height: 150px;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
}
.article1 {
    grid-area: "left-sidebar";
}
.article2 {
    grid-area: "right-sidebar";   
}

.flightsContainer{
    grid-area: "main";
    display: block;
    overflow: scroll;    
}
.articleImage {
    max-width: 200px;
    max-height: 70px;
}
.articleTitle {
    margin-left: 5px;
    font-family: 'Abril Fatface', cursive;
}
.textContainer {
    display: flex;
    flex-direction: column;
}
.articleContent {
    padding-left: 7px;
}
// CSS for Search Page 
.searchContainer {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: solid 1px lightgray;
    border-radius: 8px;
}
.searchByCompany {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
}
.searchByCompany p {
    text-align: center;
}
.searchByCompany form label {
    display: none;
}
#search_company_flight_save {
    align-self: flex-end;
    min-width: 62px;
    border: solid 1px HSL(212,100%,14%);
    background-color: #ffffff;
    border-radius: 8px;
    color: HSL(212,100%,14%,0.9);
}
#search_journey_save {
    align-self: flex-end;
    min-width: 62px;
    border: solid 1px HSL(212,100%,14%);
    background-color: #ffffff;
    border-radius: 8px;
    color: HSL(212,100%,14%,0.9);

}
form {
    display: flex;
    align-items: center;
    
}
form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    
    align-items: center;
}
form label {
    color: HSL(212,100%,14%);
    margin-right: 3px;
   
}
form input {
    max-width: 100px;
    border: none;
    background-color: HSL(0, 0%, 77%, 0.2);
}
.searchDestination form div {
    flex-direction: row;
}
.searchDestination p {
    text-align: center;
}
.flight.item {
    flex-direction: column;
    max-width: 300px;
}
.flightComment {
    max-width: 200px;
}
.citiesItem {
    max-width: 280px;
}
.resultsContainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    margin-top: 20px;
    border-radius: 8px;
}
.resultSearchMessage {
    grid-column: 2/3;
}
//CSS for login page
.loginContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
.login.item {
    justify-content: center;
    min-height: 300px;
    border: solid 1px HSL(212,100%,14%,0.9);
    
} 
.loginForm {
    display: flex;
    grid-column: 2/3;
    flex-direction: column;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
.loginForm input, .loginForm label, .loginForm p {
    margin: 10px auto;
}
//CSS for register page 
.registerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    min-height: 100vh;
    background-color: #ffffff;

}
.register.item {
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    min-height: 450px;
    border: solid 1px HSL(212,100%,14%,0.9);
}
.register.item form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    margin-top: auto;
    margin-bottom: auto;
}
.register.item form div {
    display: inline;
}

.register.item form input, .register.item form label, .register.item form p {
    margin: 5px auto;
    padding-right: 3px;

}


@media screen and (min-width: 1200px) {
    .mainMenu, .mainContainer, .mainImage, .img-container, .searchContainer, .resultsContainer {
        max-width: 1128px;
    
    }
   

}
