
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="text-center">© Seventy-Seven Technologies - 2021</p>
            </div>
            
        </div>
    </div>
