<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ website }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

       
    </head>
    <header>{% block header %}{% endblock %}</header>
    <body>
        
            {% block body %}
                <div  id="content" class="container-fluid mt-5">
                    {% block content %}{% endblock %}
                </div>
                {% block javascripts %}
               
                {{ encore_entry_script_tags('app') }}
                
                {% endblock %}
            <div id="footer" class="footer">{% block footer %} <p>blabla</p> {% endblock %}</div> 
            {% endblock %}
            
      
    </body>
    
   
    
</html>
