{% extends "base.html.twig" %}

{% block title %} {{website}} | Welcome {% endblock %}

{% block content %}

<div class="row bg-white p-5">
   {{ include('landing/includes/_header.html.twig')}}
</div>
<div class="row gx-3 p-5 bg-white ">
   <div class="col-2">
      {{ include('landing/includes/_sidebar.html.twig')}}
   </div>
   
   <div class="col-8 mb-3 bg-white">

      {{ include('landing/includes/_listflights.html.twig')}}
   </div>


</div>





{% endblock %}