{% extends 'base.html.twig' %}

{% block title %}New Flight{% endblock %}

{% block body %}
<div class="newFlight item">
    <h1>Ajouter un vol</h1>

    {{ include('flight/_form.html.twig') }}

    <a href="{{ path('flight_index') }}">back to list</a>
</div>
{% endblock %}
